body {
  font-family: italic;
  background-color: lightblue;
}
.redColor {
  background-color: red;
}
.greenColor {
  background-color: green;
}
main {
  font-family: Avant Garde, sans-serif;
  margin-left: 5%;
}

h1 {
  text-align: center;
  background-color: grey;
  color: white;
  font-family: italic;
  margin-left: 1%;
}

h2 {
  text-align: center;
  color: black;
  font-family: italic;
}

p {
  text-align: center;
  color: black;
  font-family: italic;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
